<h1>Editing User</h1>

<%= render 'form', user: @user %>

<td><button type="button" class="checkshow"><%= link_to 'Show', @user %> </button></td>
<td><button type="button" class="checkshow"><%= link_to 'Back', users_path %></button></td>
