<h1>Editing Picture</h1>

<%= render 'form', picture: @picture %>

<td><button type="button" class="checkshow"><%= link_to 'Show', @picture %> </button></td>
<td><button type="button" class="checkshow"><%= link_to 'Back', pictures_path %></button></td>
